<h1>My Tasks</h1>
<% @tasks.each do |task| %>
  <p>
    <% if task.completed == true %>
      <% @completed = 'â˜‘' %>
    <% else %>
      <% @completed = 'â˜' %>
    <% end %>
    <%= @completed %>
    <%= link_to task.title, task_path( task['id'] ) %> ~
    <%= link_to 'ðŸ—‘ï¸', task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </p>
<% end %>
<%= link_to 'Add a new task', new_path %>

